/*
 + SIZE BASED ON https://type-scale.com/
 + MINOR THIRD - Mobile
 + MAJOR THIRD - Desktop
 + PERFECT FOURTH - Large Screen
*/

$font-size-text: 16px;

$font-size-h1: 39.81px;
$font-size-h2: 33.18px;
$font-size-h3: 27.65px;
$font-size-h4: 23.04px;
$font-size-h5: 19.2px;
$font-size-h6: 16px;
$font-size-small: 13.33px;

$font-size-h1-md: 48.83px;
$font-size-h2-md: 39.06px;
$font-size-h3-md: 31.25px;
$font-size-h4-md: 25px;
$font-size-h5-md: 20px;
$font-size-h6-md: 16px;
$font-size-small-md: 12.8px;

$font-size-h1-lg: 67.34px;
$font-size-h2-lg: 50.52px;
$font-size-h3-lg: 37.90px;
$font-size-h4-lg: 28.43px;
$font-size-h5-lg: 21.33px;
$font-size-h6-lg: 16px;
$font-size-small-lg: 12px;