$color-white: #fff;
$color-black: #000;

$color-gray-1: #ddd;
$color-gray-2: #bbb;
$color-gray-3: #aaa;
$color-gray-4: #efefef;
$color-gray-5: #e7e7e7;
$color-gray-6: #ccc;
$color-gray-7: #f2f2f2;
$color-gray-8: #e8e8e8;
$color-gray-9: #999;
$color-gray-10: #dfdfdf;

$color-gun-metal: #282a36;
$color-debian-red: #d5115a; // Big 3A, Small 2A on white
$color-crimson-glory: #ad0041; // Big 3A, Small 3A on white
$color-philippine-green: #0b834b; // Big 3A, Small 2A on white
$color-castleton-green: #005c31; // Big 3A, Small 3A on white
$color-celtic-blue: #2a73bf; // Big 3A, Small 2A on white
$color-cobalt-blue: #0057b1; // Big 3A, Small 3A on white
$color-pansy-purple: #60194e;
$color-congo-pink: #f77a7a;
$color-sandstorm: #f3cc3e; // Big 3A, Small 3A on Gun Metal
$color-mauve: #dbaffb; // Big 3A, Small 3A on Gun Metal
$color-baby-blue-eyes: #97c4f3; // Big 3A, Small 3A on Gun Metal
$color-light-green: #8ff383; // Big 3A, Small 3A on Gun Metal