$color-white: #ffffff;
$color-black: #000;

$color-gray-1: #ddd;
$color-gray-2: #bbb;
$color-gray-3: #aaa;
$color-gray-4: #efefef;
$color-gray-5: #e7e7e7;
$color-gray-6: #ccc;
$color-gray-7: #f2f2f2;
$color-gray-8: #e8e8e8;
$color-gray-9: #999;
$color-gray-10: #dfdfdf;