$font-size-light: 300;
$font-size-regular: 400;
$font-size-medium: 500;
$font-size-semi-bold: 600;
$font-size-bold: 700;
$font-size-extra-bold: 800;
$font-style-italic: italic;

$font-family-main: Arial;
$font-family-display: Georgia, serif;