$easing: cubic-bezier(0.23, 1, 0.32, 1);
$ease: ease;
$ease-in: cubic-bezier(0.55, 0.06, 0.68, 0.19);
$ease-out: cubic-bezier(0.22, 0.61, 0.36, 1);
$ease-in-out: ease-in-out;
$time-faster: 0.1s;
$time-fast: 0.25s;
$time-medium: 0.5s;
$time-slow: 0.7s;
$time-slower: 1s;